nav ul {
  display: flex;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style-type: none;
  background-color: black;
}
#galGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
  
  grid-gap: 20px;
  align-items: stretch;
 
  

}
#galGrid img {
border-color: gray;
border-width: 1px;
 box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3);
  max-width: 100%;
	
}

nav ul li {
  flex: 1;
  text-align: center;
}

nav a {
  color: white;
  text-decoration: none;
}

main {
  display: flex;
}

article {
  width: 60%;
  margin: 1.5em 2.52525% 0 2.0202%;
}

article img {
  max-width: 100%;
  margin-bottom: 1em;
}

aside {
  width: 40%;
  padding: 2.0202%;
  max-width: 200px;
  min-height: 180px;
  background-color: #ffebc6;
  margin: 0 2.0202% 0 0;
  align-self: stretch;
}

footer {
  background-color: pink;
  margin: 0px;
  padding: 0px;
  
}
